<html>

<head>
	<title>EasyCook</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>

	<link href="/css/home.css" rel="stylesheet">

</head>

<body>
	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			<div class="recipe_list">
				{{#each recipes}}
				<div class="recipe" id="{{id}}">
					<a href="/recipe/{{name}}">
						<img src="images/{{image}}" alt="{{name}} pic" class="img">
						<div class="recipe_name">{{name}}</div>
					</a>
					<button class="likeBtn">Like</button>
				</div>
				{{/each}}
			</div>
		</div>
		<div id="like" class="tab-pane fade">
			<h3>Recipes you like</h3>
		</div>
		<div id="inv" class="tab-pane fade">
			<h3>Inventory</h3>
		</div>
	</div>


	{{!-- navbar starts here --}}
	<ul class="nav nav-pills">
		<li class="active"><a data-toggle="pill" href="#home">Home</a></li>
		<li><a data-toggle="pill" href="#like">Like</a></li>
		<li><a data-toggle="pill" href="#inv">Inventory</a></li>
	</ul>
</body>

</html>